<div class="row">
    <div class="col-md-12">
        <div class="box box-widget widget-user-2">
            <div :class="'widget-user-header ' + lesson.bg_color">
                <button @click="editLesson(lesson.id)" type="button" class="btn btn-info btn-lg pull-right" style="background-color: rgba(0,0,0,0.2);border-color: rgba(0, 0, 0, 0.3);">Edit</button>
                <button @click="removeLesson(lesson.id)" type="button" class="btn btn-info btn-lg pull-right" style="background-color: rgba(0,0,0,0.2);border-color: rgba(0, 0, 0, 0.3);margin-right: 3px;">Remove</button>
                <div class="widget-user-image">
                    <span class="info-box-icon" style="border-radius: 50%;"><i :class="lesson.image_class"></i></span>
                </div>
                <h3 class="widget-user-username">{{lesson.name}}</h3>
                <h5 class="widget-user-desc">{{lesson.description}}</h5>
            </div>
            <div class="box-footer no-padding">
                <div style="margin: 20px" v-html="lesson.text">
                </div>
            </div>
        </div>
    </div>
</div>